@import url('./blocks/card/card.css');
@import url('./blocks/card-list/card-list.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__autor/card__autor.css');
@import url('./blocks/card/__title/card__title.css');

body{
    margin: 0;
}

.page {
    max-width: 863px;
    margin-left: auto;
    margin-right: auto;
}